<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gwm.sweethouse" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!--友盟所需-->
        <!-- 监听通知点击或者忽略处理的广播 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>

        <!-- 监听开机运行、网络连接变化、卸载的广播 -->
        <receiver
            android:name="com.umeng.message.SystemReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name="com.umeng.message.MessageReceiver"
            android:exported="false"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </receiver>

        <!-- 监听宿主选举的广播 -->
        <receiver
            android:name="com.umeng.message.ElectionReceiver"
            android:process=":push" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_RESULT_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </receiver>

        <!-- 监听注册的广播 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <receiver
            android:name="com.umeng.message.RegistrationReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.gwm.sweethouse.intent.action.COMMAND" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengMessageBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Umeng的长连服务，用来建立推送的长连接的 -->
        <!-- 【应用包名】字符串需要替换成本应用的应用包名 -->
        <service
            android:name="com.umeng.message.UmengService"
            android:label="VisonPushService"
            android:exported="true"
            android:process=":push" >
            <intent-filter>
                <action android:name="com.gwm.sweethouse.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.gwm.sweethouse.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING_V4" />
                <category android:name="umeng" />
            </intent-filter>
        </service>

        <!-- Umeng的消息接收服务 -->
        <service android:name="com.umeng.message.UmengIntentService"
            android:process=":push" />

        <!-- Umeng的消息路由服务 -->
        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:process=":push"
            android:exported="true" >
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.android.agoo.client.ElectionReceiverService" />
            </intent-filter>
        </service>

        <!-- v2.4.1添加的Service，Umeng的消息接收后的处理服务 -->
        <service android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.unregistercallback.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.autoupdate.handler.action"/>
            </intent-filter>
        </service>

        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />

        <!-- V2.5.0添加的Service，用于本地通知 -->
        <!-- 如果不使用本地通知，可以注释掉本地通知服务的配置 -->
        <service android:name="com.umeng.message.local.UmengLocalNotificationService"
            android:exported="false" />


        <!--添加 AppKey 和 Umeng Message Secret-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5639daf4e0f55ae9dd003e98" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="2060eed77286514423d11a0d1c8a43d1" >
        </meta-data>
        <!-- 添加Channel ID-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="6103509WEI" >
        </meta-data>
        <!--/友盟所需-->
        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="qGxyzYUzwa2AoqVBW4PUOKxy" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:label="@string/title_activity_guide" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterActivity2" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_search" >
        </activity>
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".MallActivity"
            android:label="@string/title_activity_mall" >
        </activity>
        <activity
            android:name=".MyOrderActivity"
            android:label="@string/title_activity_myorder" >
        </activity>
        <activity
            android:name=".MyAddressActivity"
            android:label="@string/title_activity_my_address" >
        </activity>
        <activity
            android:name=".MyAdviceActivity"
            android:label="@string/title_activity_advice" >
        </activity>
        <activity
            android:name=".MyWalletActivity"
            android:label="@string/title_activity_my_wallet" >
        </activity>
        <activity
            android:name=".GoodsActivity"
            android:label="@string/title_activity_goods" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:label="@string/title_activity_detail" >
        </activity>
        <activity
            android:name=".SaleActivity"
            android:label="@string/title_activity_sale" >
        </activity>
        <activity
            android:name=".GroupBuyActivity"
            android:label="@string/title_activity_group_buy" >
        </activity>
        <activity
            android:name=".ActDetailsActivity"
            android:label="@string/title_activity_act_details" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".GetRoomActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".GetCompanyActivity" />
        <activity
            android:name=".DetailCompanyActivity"
            android:label="@string/title_activity_detail_company" >
        </activity>
        <activity
            android:name=".OrderZxActivity"
            android:label="@string/title_activity_order_zx"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".CalenderActivity"
            android:label="@string/title_activity_calender" >
        </activity>
        <activity
            android:name=".OrderConfirmationActivity"
            android:label="@string/title_activity_order_confirmation"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info" >
        </activity>
        <activity
            android:name=".AlterUserNameActivity"
            android:label="@string/title_activity_alter_user_name" >
        </activity>
        <activity
            android:name=".AlterPassActivity"
            android:label="AlterPassActivity" >
        </activity>
        <activity
            android:name=".ForgetPassACtivity"
            android:label="@string/title_activity_forget_pass_activity" >
        </activity>
        <activity
            android:name=".AlterSexActivity"
            android:label="@string/title_activity_alter_sex" >
        </activity>
        <activity
            android:name=".ReturnSalesActivity"
            android:label="@string/title_activity_return_sales" >
        </activity>
        <activity
            android:name=".AddAddressActivity"
            android:label="@string/title_activity_add_address" >
        </activity>
        <activity
            android:name=".AboutWalletActivity"
            android:label="@string/title_activity_about_wallet" >
        </activity>
        <activity
            android:name=".WalletRecorderActivity"
            android:label="@string/title_activity_wallet_recorder" >
        </activity>
        <activity
            android:name=".OrderDetailActivity"
            android:label="@string/title_activity_order_detail" >
        </activity>
        <activity
            android:name=".PayOrderActivity"
            android:label="@string/title_activity_pay_order" >
        </activity>
        <activity
            android:name=".ReleaseOrderActivity"
            android:label="@string/title_activity_release_order" >
        </activity>
        <activity
            android:name=".ApplyReturnActivity"
            android:label="@string/title_activity_apply_return" >
        </activity>
        <activity
            android:name=".OrderLogisticActivity"
            android:label="@string/title_activity_order_logistic" >
        </activity>
        <activity
            android:name=".EvaluateOrderActivity"
            android:label="@string/title_activity_evaluate" >
        </activity>
        <activity
            android:name=".EditAddressActivity"
            android:label="@string/title_activity_edit_address" >
        </activity>
        <activity
            android:name=".CommentActivity"
            android:label="@string/title_activity_comment" >
        </activity>
        <activity
            android:name=".CommentsActivity"
            android:label="@string/title_activity_comments" >
        </activity>


        <activity android:name=".BeautifulPicActivity" >
        </activity>
        <activity
            android:name=".PicDetailActivity"
            android:label="@string/title_activity_pic_detail" >
        </activity>
        <activity
            android:name=".CodePicDetailActivity"
            android:label="@string/title_activity_code_pic_detail" >
        </activity>

        <activity
            android:name=".CalculatorActivity"
            android:label="@string/title_activity_calculator" >
        </activity>
        <activity
            android:name=".PaintActivity"
            android:label="@string/title_activity_paint" >
        </activity>
        <activity
            android:name=".FloorzActivity"
            android:label="@string/title_activity_floor" >
        </activity>
        <activity
            android:name=".WallActivity"
            android:label="@string/title_activity_wall" >
        </activity>
        <activity
            android:name=".FloorbActivity"
            android:label="@string/title_activity_floorb" >
        </activity>
        <activity
            android:name=".WallPaperActivity"
            android:label="@string/title_activity_wall_paper" >
        </activity>
        <activity
            android:name=".BlindActivity"
            android:label="@string/title_activity_blind" >
        </activity>
        <activity
            android:name=".calender.CalendarActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AddressSelectActivity"
            android:label="@string/title_activity_address_select" >
        </activity>
    </application>

</manifest>
